<!doctype HTML>
<html>
  <head><title> Emoji Result! </title> </head>
 <body>
   <h2> The Emoji you should text them: </h2> 
   
   <img src=<%=@url_array[0] %> >
   <img src=<%=@url_array[1] %> >
        
  </body>
</html>